In [1]:
import pandas as pd
from sklearn.preprocessing import label_binarize
import numpy as np

In [2]:
df_user_log = pd.read_csv('https://drive.google.com/uc?id=1DwEvKOYl0hQmd2muwDa13O17smPPgn0D')
df_user_info = pd.read_csv('https://drive.google.com/uc?id=1wM9LY4rAsMLGe6GUZNQd50R8WHiH9xaf')

In [4]:


df_user_log.isnull().any()
df_user_info.isnull().any()
user_action = df_user_log.groupby('user_id').size().to_frame().reset_index()
user_action.columns = ['user_id','user_total_action']
user_action.head()

   user_id  user_total_action
0      192                  1
1      289                  1
2      436                  3
3      445                  1
4      616                  1

In [5]:
user_gender = df_user_info[['user_id','gender']]
user_gender = user_gender.fillna(2)
user_gender.head()

   user_id  gender
0   376517     1.0
1   234512     0.0
2   344532     0.0
3   186135     0.0
4    30230     0.0

In [7]:


user_activity = df_user_log[['user_id','action_type']].copy()
user_activity_info = label_binarize(np.array(user_activity.action_type), classes=[2,3])
user_activity_info = pd.DataFrame(data = user_activity_info, columns=['purchase','add_to_favorite'])
user_activity['user_purchase']=user_activity_info.purchase
user_activity['user_Add_to_favorite']=user_activity_info.add_to_favorite
user_activity_count = user_activity.groupby('user_id').agg('sum').reset_index()
user_activity_count.columns = ['user_id','action_type','user_purchase_count','user_Add_to_favorite_count']
user_activity_count = user_activity_count.drop(columns=['action_type'])
user_activity_count.head()

   user_id  user_purchase_count  user_Add_to_favorite_count
0      192                    0                           0
1      289                    0                           0
2      436                    0                           1
3      445                    0                           0
4      616                    0                           0

In [13]:
user_activity_count['purchase_&_favorite_count'] = 0
user_activity_count.loc[(user_activity_count['user_purchase_count'] == 1) & (user_activity_count['user_Add_to_favorite_count'] == 1), 'purchase_&_favorite_count'] = 1
user_activity_count['purchase_&_favorite_count'] = user_activity_count['purchase_&_favorite_count'].fillna(0)
user_activity_count.head()

,user_id,user_purchase_count,user_Add_to_favorite_count,purchase_&_favorite_count,both_actions
0,192,0,0,0,NaN
1,289,0,0,0,NaN
2,436,0,1,0,NaN
3,445,0,0,0,NaN
4,616,0,0,0,NaN

In [14]:
user_activity_count = user_activity_count.drop('both_actions', axis=1)
user_activity_count.head()

,user_id,user_purchase_count,user_Add_to_favorite_count,purchase_&_favorite_count
0,192,0,0,0
1,289,0,0,0
2,436,0,1,0
3,445,0,0,0
4,616,0,0,0

In [16]:
# assuming your DataFrame is named `df`
result = user_activity_count[user_activity_count['purchase_&_favorite_count'] == 1]

# display the filtered DataFrame
print(result)

      user_id  user_purchase_count  user_Add_to_favorite_count  \
294     28426                    1                           1
345     33911                    1                           1
355     34948                    1                           1
428     43005                    1                           1
537     54341                    1                           1
559     56252                    1                           1
584     58914                    1                           1
611     60680                    1                           1
785     77668                    1                           1
821     80190                    1                           1
909     88692                    1                           1
912     88887                    1                           1
1307   132468                    1                           1
1341   135731                    1                           1
1614   164194                    1                           1
1802   182640                    1                           1
1813   183496                    1                           1
2175   220016                    1                           1
2253   227314                    1                           1
2266   228027                    1                           1
2346   237116                    1                           1
2672   268629                    1                           1
2688   270126                    1                           1
3100   312022                    1                           1
3137   315107                    1                           1
3318   331253                    1                           1
3400   338691                    1                           1
3404   339020                    1                           1
3732   372564                    1                           1
3819   382419                    1                           1
3877   388124                    1                           1
3936   394821                    1                           1
3985   399085                    1                           1
4127   412988                    1                           1

      purchase_&_favorite_count
294                           1
345                           1
355                           1
428                           1
537                           1
559                           1
584                           1
611                           1
785                           1
821                           1
909                           1
912                           1
1307                          1
1341                          1
1614                          1
1802                          1
1813                          1
2175                          1
2253                          1
2266                          1
2346                          1
2672                          1
2688                          1
3100                          1
3137                          1
3318                          1
3400                          1
3404                          1
3732                          1
3819                          1
3877                          1
3936                          1
3985                          1
4127                          1